In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
# 需要stack文件的存放地址
base_dir='./stack_input/'
files=os.listdir(base_dir)

In [3]:
# files.remove( '.DS_Store')

In [4]:
# 读取文件
data=pd.read_csv(base_dir+files[0])

In [5]:
for i,f in enumerate(files):
    print(f)
    data['mol'+str(i)]=pd.read_csv(base_dir+files[i])['scalar_coupling_constant']

xgb_stack.csv
lgb_stack.csv
nn_stack.csv

In [6]:
# 使用中值作为stacking的方式
data['scalar_coupling_constant']=data.iloc[:,2:].median(axis=1)

In [7]:
data.head(10)

        id  scalar_coupling_constant        mol0        mol1        mol2
0  4658147                 19.657818   19.657818   22.483849   16.752722
1  4658148                149.549332  122.587364  149.549332  175.863342
2  4658149                  5.626666    4.867779    9.503328    5.626666
3  4658150                149.549332  122.587364  149.549332  175.863342
4  4658151                 19.657818   19.657818   22.483849   16.752722
5  4658152                 92.254242   92.275955   92.254242   86.592880
6  4658153                  2.604122    2.604122    2.657287    1.578010
7  4658154                 -7.803078   -7.803078   -7.511750   -9.356209
8  4658155                 -9.589906   -9.580896   -9.589906   -9.920478
9  4658156                 92.256302   92.263344   92.256302   86.600006

In [8]:
# 保存文件
sub=data[['id','scalar_coupling_constant']]
sub.to_csv('final.csv',index=False)

In [9]:
sub.head(10)

        id  scalar_coupling_constant
0  4658147                 19.657818
1  4658148                149.549332
2  4658149                  5.626666
3  4658150                149.549332
4  4658151                 19.657818
5  4658152                 92.254242
6  4658153                  2.604122
7  4658154                 -7.803078
8  4658155                 -9.589906
9  4658156                 92.256302